.articles__page{
  width: 100%;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.articles__title{
  margin: 70px auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 52px;
}

.articles__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article__card{
  position: relative;
  width: 25%;
  transition: all ease .5s;
}

.article__card:hover{
  transform: scale(1.05);
}

.article__card_image{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
}


.article__card_text{
  display: block;
  border-radius: 10px;
  padding: 2% 5%;
  position: absolute;
  top: 0;
  left: 10%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.article__card_subtext{
  display: block;
  border-radius: 10px;
  padding: 2% 5%;
  position: absolute;
  bottom: 10%;
  left: 0;
  max-width: 90%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  .article__card{
    width: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .article__card{
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .article__card{
    width: 100%;
  }
  .article__card_text{
    font-size: 22px;
  }
  .article__card_subtext{
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .article__card{
    width: 100%;
  }
  .article__card_text{
    font-size: 20px;
  }
  .article__card_subtext{
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .article__card{
    width: 100%;
  }
  .article__card_text{
    font-size: 18px;
  }
  .article__card_subtext{
    font-size: 12px;
  }
}
