.sections__cards{
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section__card{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}

.section__card_wrapper{
  transition: all ease .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__card_wrapper:hover{
  transform: scale(1.05);
}

.section__image{
  display: flex;
  width: 40vw;
  height: 60vh;
  object-fit: cover;
}


.section__title{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 32px;
  width: 200px;
  padding: 5% 0;
  text-align: center;
  text-decoration: none;
}


@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1440px) {
  .section__image{
    width: 40vw;
    height: 75vh;
  }
}

@media screen and (max-width: 1024px) {
  .section__image{
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .sections__cards{
    flex-direction: column;
    gap: 10vh;
  }
  .section__image{
    width: 70vw;
  }

  .section__title{
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .sections__cards{
    flex-direction: column;
    gap: 5vh;
  }
  .section__image{
    width: 80vw;
  }

  .section__title{
    font-size: 24px;
  }
}

@media screen and (max-width: 375px) {
  .sections__cards{
    flex-direction: column;
    gap: 5vh;
  }
  .section__image{
    width: 80vw;
  }
}

@media screen and (max-width: 320px) {
  .sections__cards{
    flex-direction: column;
    gap: 5vh;
  }
  .section__image{
    width: 100vw;
    height: 40vh;
  }

  .section__title{
    width: 80%;
    font-size: 20px;
  }
}
